<div class="login">
  <div class="login__box">
    <img src="./../../assets/icon/ips.jpeg" class="login__img" alt="">
    <form class="example-form" [formGroup]="dniForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="login__input">
        <mat-label>Cédula</mat-label>
        <input matInput placeholder="Cédula" formControlName="dni">
      </mat-form-field>
      <button mat-stroked-button color="primary" type="submit">Ingresar</button>
  </form>
  <div *ngIf="msg != ''">
    {{ msg }}
  </div>
  </div>
</div>
