.schedule {
    height: 80vh;
    display: flex;
    align-items: center;
    text-align: center;
    &__box {
        width: 80%;
        background-color: white;
        padding: 3rem 1rem;
        border-radius: 1rem;
        margin: 0 auto;
    }
    &__img {
        width: 20rem;
    }
    &__container {
        display: flex;
        justify-content: space-around;
    }
    &__table {
        border: 2px solid #bbb;
        border-radius: 5px;    
        width: 100%;
        overflow: auto;
        height: 25rem;
    }
    &__item {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 18px;
        font-weight: 500;
    }
    &__title {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 22px;
        font-weight: 500;
        border-bottom: 1px solid #0e4db8;
        color: #0e4db8;
        margin-bottom: 1rem;
    }
    &__position {
        text-align: right;
        margin-bottom: 1rem;
        margin-right: 2rem;
    }
}

header, .row {
    display: flex;
    border-bottom: 2px solid #bbb;
    padding: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    justify-content: space-around;
    align-items: center;
  }

  .icon-action {
      margin-right: 10px;
  }

  .col {
flex: 1;
}