<!--Navbar-->
<mat-toolbar>
	<mat-icon (click)="drawer.toggle()" class="burger app-cursor">menu</mat-icon>
	<img alt="Logo" src="./../../assets/icon/ips.jpeg" class="logo-app"  style="margin-left: 15px;"/>
	<span class="example-spacer"></span>
	<img src="../../../assets/icons/accountcircle_outline.svg" alt=""> <label class="user-text app-m-name"> Nombre de usuario</label>
	<mat-icon [matMenuTriggerFor]="menu" class="burger app-cursor">keyboard_arrow_down</mat-icon>
	  <mat-menu #menu="matMenu">
			<button mat-menu-item>
				<img src="../../../assets/icons/logout_baseline.svg" alt="" class="app-m-left">
				<span class="user-text app-m-left-15">Cerrar sesión</span>
			</button>
	  </mat-menu>
	
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
	<mat-drawer #drawer class="example-sidenav" mode="side">
		<p class="user-text" routerLink="/list">Lista</p>
		<p class="user-text" routerLink="/schedule">Horario</p>
		<p class="user-text"routerLink="/home">Cargar Archivo</p>
	</mat-drawer>
</mat-drawer-container>

<div class="schedule ">
    <div class="schedule__box">
    <img src="./../../assets/icon/ips.jpeg" class="schedule__img" alt="">
    <div class="schedule__item" style="margin-bottom: 2rem;">Citas asignadas</div>
      <div class="schedule__container">
        <div class="schedule__table">
          <section>
            <header>
              <div class="col schedule__item">Fecha</div>
              <div class="col schedule__item">Cédula</div>
              <div class="col schedule__item">Nombres y apellidos</div>
            </header>
            <div class="row">
              <div class="col">24/07/2020</div>
              <div class="col">123065465</div>
              <div class="col">Yunerkis Caridad Leal Quirpa</div>
              <div class="col"><button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button></div>
              <div class="col"><button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button></div>
            </div>
            <div class="row">
              <div class="col">24/07/2020</div>
              <div class="col">123065465</div>
              <div class="col">Yunerkis Caridad Leal Quirpa</div>
            </div>
          </section>
        </div>      
      </div>
    </div>
  </div>