<div class="list ">
  <div class="list__box">
  <img src="./../../assets/icon/ips.jpeg" class="list__img" alt="">
    <div class="list__container">
      <div class="list__table">
        <section>
          <header>
            <div class="col list__item">Fecha</div>
            <div class="col list__item">Cédula</div>
            <div class="col list__item">Nombres y apellidos</div>
          </header>
          <div class="row">
            <div class="col">24/07/2020</div>
            <div class="col">123065465</div>
            <div class="col">Yunerkis Caridad Leal Quirpa</div>
          </div>
          <div class="row">
            <div class="col">24/07/2020</div>
            <div class="col">123065465</div>
            <div class="col">Yunerkis Caridad Leal Quirpa</div>
          </div>
        </section>
      </div>      
    </div>
  </div>
</div>