<div class="appointment ">
  <div class="appointment__box">
    <img src="./../../assets/icon/ips.jpeg" class="appointment__img" alt="">
    <div *ngIf="client['session'] == null || client['dni'] == rut" class="appointment__container">
      <mat-calendar [selected]="selectedDate" (selectedChange)="onSelect($event)" [dateFilter]="filterDates" class="appointment__calendar" [minDate]="minDate" [maxDate]="maxDate"></mat-calendar>
      <div class="appointment__table">
        <div>
          <div class="appointment__label">Horario disponible</div>
          <div *ngIf="schedules.length > 0">
            <div class="appointment__content" *ngFor="let schedule of schedules;">
              <div class="appointment__name">
                <label>{{ schedule.first_names }} {{ schedule.last_names}}</label>
                <label class="appointment__time">{{ schedule.category.name }}</label>
                <label class="appointment__time" *ngFor="let hours of schedule.hours; let i = index;">
                  {{ hours }}
                  <button  mat-raised-button color="primary" (click)="toggleSchedule(i, schedule.id)">Ver horario</button>
                  <div *ngIf="isSchedules == i && isDoctor == schedule.id" class="appointment__date">
                    <div *ngFor="let interval of schedule.schedules[i].intervals" class="appointment__date-time">
                      {{interval[1] }} <button  mat-raised-button color="primary" (click)="session(interval[0], schedule, hours)">Agendar</button>
                    </div>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div *ngIf="schedules.length == 0" class="appointment__label">
            No hay horarios disponible para esta fecha
          </div>
        </div>
      </div>      
    </div>
    <div *ngIf="client['session'] != null && client['dni'] != rut" class="appointment__done-appointment">
      Ya tienes una cita apartada, con Dr/a {{ doctor }} el dia {{ dateStart }}, horario: {{ timeStart }}
    </div>
  </div>
</div>