<div class="appointment ">
  <div class="appointment__box">
  <img src="./../../assets/icon/ips.jpeg" class="appointment__img" alt="">
    <div *ngIf="client['session'] == null" class="appointment__container">
      <mat-calendar [selected]="selectedDate" (selectedChange)="onSelect($event)" class="appointment__calendar" [minDate]="minDate" [maxDate]="maxDate"></mat-calendar>
      <div class="appointment__table">
        <div>
          <div class="appointment__label">Horario disponible</div>
          <div class="appointment__content">
            <div class="appointment__name">
              <label>Killjoy Valorant</label>
              <label class="appointment__time">Medico General</label>
              <label class="appointment__time">8:00am a 9:00</label>
            </div>
            <button  mat-raised-button color="primary" (click)="openDialog()">Agendar</button>
          </div>
        </div>
      </div>      
    </div>
    <div *ngIf="client['session'] != null" class="appointment__container">
      Ya tienes una cita apartada, el dia {{ dateStart }}, hora: {{ timeStart }}
    </div>
  </div>
</div>