body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: auto;
    background: rgba(0,0,0,.12);
}

::placeholder {
  color: var(--color-gray-dark-2);
}

.mat-form-field {
  font-size: 30px;
}

.mat-stroked-button {
  border: 1px solid #3d4bbb !important;
  padding: 15px !important;
  font-size: 30px;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  color:  #3d4bbb !important;
}

table {
  width: 50%;
  border: 1px solid red;
  height: 100%;
  font-family: "Roboto";
}