<div class="admin">
    <div class="admin__box">
      <img src="./../../assets/icon/ips.jpeg" class="admin__img" alt="">
      <form class="admin__form" >
        <mat-form-field class="admin__input">
          <mat-label>Correo</mat-label>
          <input matInput placeholder="Correo">
        </mat-form-field>
        <mat-form-field class="admin__input">
          <mat-label>Nueva contraseña</mat-label>
          <input matInput placeholder="Nueva contraseña">
        </mat-form-field>
        <button mat-stroked-button color="primary" type="submit">Ingresar</button>
      </form>
      <div class="forgot-label">
       ¿Ólvido el usuario o la contraseña?
      </div>
    </div>
  </div>
  